<?xml version="1.0" encoding='UTF-8'?><root>
<gpick type="dynv">
<generate_scheme type="dynv">
</generate_scheme>
<layout_preview type="dynv">
<css_selectors type="dynv">
<assignments type="dynv">
<menu_b type="dynv">
<color type="color">0.7 0.7 0.7 4.56781e-41</color>
</menu_b>
<navitem_b type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_b>
<navitem_bh type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_bh>
<navitem_t type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_t>
<navitem_th type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_th>
</assignments>
</css_selectors>
<layout_name type="string">std_layout_menu_1</layout_name>
</layout_preview>
<main type="dynv">
<color_source type="string">color_picker</color_source>
<paned_position type="int32">469</paned_position>
<secondary_color_source type="string"></secondary_color_source>
<vertical_paned_position type="int32">0</vertical_paned_position>
<window type="dynv">
<height type="int32">716</height>
<width type="int32">667</width>
<x type="int32">687</x>
<y type="int32">40</y>
</window>
</main>
<options type="dynv">
<window type="dynv">
<height type="int32">515</height>
<width type="int32">456</width>
</window>
</options>
<picker type="dynv">
<contrast type="dynv">
<color type="color">1 1 1 4.56781e-41</color>
</contrast>
<expander type="dynv">
<cmyk type="bool">false</cmyk>
<hsl type="bool">false</hsl>
<hsv type="bool">false</hsv>
<info type="bool">false</info>
<lab type="bool">false</lab>
<lch type="bool">false</lch>
<rgb type="bool">true</rgb>
<settings type="bool">false</settings>
</expander>
<sampler type="dynv">
<falloff type="int32">0</falloff>
<oversample type="int32">0</oversample>
</sampler>
<swatch type="dynv">
<active_color type="int32">6</active_color>
<color1 type="color">0.580392 0.45098 0.0156863 4.58883e-41</color1>
<color2 type="color">0.776471 0.686275 0.121569 4.56711e-41</color2>
<color3 type="color">0.428571 0.428571 0.428571 0</color3>
<color4 type="color">0.0627451 0.517647 0.588235 4.58995e-41</color4>
<color5 type="color">0.654902 0.435294 0.988235 4.56949e-41</color5>
<color6 type="color">0.857143 0.857143 0.857143 0</color6>
</swatch>
<zoom type="float">20</zoom>
<zoom_size type="int32">150</zoom_size>
</picker>
<recent type="dynv">
</recent>
</gpick>
</root>
